[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "miniUI"]
	path = miniUI
	url = https://github.com/cran/miniUI
	shallow = true
	registered = true
